@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family:'Noto 
}

header{
	background-image: url('../images/main/main_image.jpg');
	background-size: cover;
	height: 1000px;
}

#visual{
    text-align: center;
}

#main_text{
    font-size: 48px;
    color: white;
    margin-top: 10%;
    
}

#cont_text{
    font-size: 32px;
    color: white;
    margin-top: 5%;
    
}

#main_btn{
	margin-top: 5%;
}

.sub_visual{
	margin-top: 180px;
}

#sub_visual_1{
	margin-bottom: 0px;
}

#sub_visual_2{
	margin-top: 0px;
    float: right;
}

.clear{
    clear: both;
}

.post{
	margin-top: 200px;
	text-align: center;
}

.post div:first-child {
	font-size: 48px;
	color: #553830;
}

.post div:nth-child(2) {
	font-size: 32px;
	color: #553830;
}

.first_card{
	margin-top: 100px;
	margin-left: 182px
}